<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
           "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="shop.seulmeal.service.mapper.PurchaseMapper"> 
	
	<resultMap id="customPartsSelectMap" type="customParts">
		<result property="customPartsNo" 		column="customparts_no"   jdbcType="NUMERIC"/> 
		<result property="customProductNo" 		column="customproduct_no" jdbcType="NUMERIC"/> 
		<result property="gram" 				column="gram" 			  jdbcType="NUMERIC"/> 
		<result property="productPartsNo" 		column="productparts_no"  jdbcType="NUMERIC"/> 
		<result property="productPartsName" 	column="minus_name" 	  jdbcType="VARCHAR"/> 
		<association property="parts" javaType="parts" >
			<result property="partsNo" 			column="parts_no" 		  jdbcType="NUMERIC"/>
			<result property="name" 			column="plus_name" 		  jdbcType="VARCHAR"/>
			<result property="price" 			column="plus_price" 	  jdbcType="NUMERIC"/>
			<result property="calorie" 			column="plus_calorie" 	  jdbcType="NUMERIC"/>
		</association>
	</resultMap>
	
	<resultMap id="customProductSelectMap" type="customProduct">
    	<result property="customProductNo" 		column="customproduct_no" 	jdbcType="NUMERIC"/>
		<result property="count" 				column="count" 				jdbcType="NUMERIC"/>
		<result property="cartStatus" 			column="cart_status" 		jdbcType="VARCHAR"/>
		<result property="regDate" 				column="reg_date" 			jdbcType="DATE"/>
		<association property="user" javaType="user" >
			<result property="userId" 	 		column="user_id" 			jdbcType="VARCHAR"/>
		</association>
		<association property="product" javaType="product" >
			<result property="productNo" 		column="product_no" 		jdbcType="NUMERIC"/>
			<result property="name" 			column="name" 				jdbcType="VARCHAR"/>
			<result property="price" 			column="price" 				jdbcType="NUMERIC"/>
			<result property="calorie" 			column="calorie" 			jdbcType="NUMERIC"/>
		</association>
		<association property="purchase" javaType="purchase" >
			<result property="purchaseNo" 		column="purchase_no" 		jdbcType="NUMERIC"/>
		</association>
		<collection property="customParts" column="customproduct_no" javaType="java.util.ArrayList" 
					ofType="customParts" select="getListCustomParts">
		</collection>
	</resultMap>
	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="purchaseNo" 			column="purchase_no" 	jdbcType="NUMERIC"/> 
		<result property="price" 				column="price"		 	jdbcType="NUMERIC"/> 
		<result property="deliveryPrice" 		column="delivery_price"  jdbcType="NUMERIC"/> 
		<result property="address" 				column="address" 		jdbcType="VARCHAR"/> 
		<association property="user" javaType="user" >
			<result property="userId" 			column="user_id" 		jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	

	<!-- custom_parts -->
	<insert id="insertCustomParts">
		INSERT INTO customparts
		(customparts_no, customproduct_no, productparts_no, parts_no, gram)
		SELECT seq_customparts_no.NEXTVAL, inner_table.*
		FROM(
			<foreach collection="list" item="item" index="index" separator="union all">
				SELECT #{item.customProductNo:NUMERIC} as customProduct_no,
				#{item.productPartsNo:NUMERIC} as productParts_no,
				#{item.parts.partsNo:NUMERIC} as parts_no,
				#{item.gram:NUMERIC} as gram
				FROM dual
			</foreach>)inner_table
		<selectKey keyProperty="customPartsNo" resultType="int" order="AFTER">
			SELECT seq_customparts_no.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="getCustomParts" resultType="customParts">
		SELECT * FROM customparts
		<where>
			customparts_no = #{customPartsNo}
		</where>
	</select>
	
	<select id="getListCustomParts" resultMap="customPartsSelectMap" parameterType="map">
		SELECT c.customproduct_no, c.productparts_no, c.minus_name, p.parts_no, p.name plus_name, p.price plus_price, p.calorie, c.gram
		FROM customparts c, parts p
		WHERE (p.parts_no=c.parts_no OR p.parts_no=c.productparts_no) AND c.customproduct_no=#{customProductNo}
		ORDER BY c.customparts_no
	</select>
	
	<delete id="deleteCustomParts" parameterType="int">
        DELETE FROM customparts WHERE customproduct_no = #{customProductNo}
    </delete>


	<!-- custom_product -->
	<insert id="insertCustomProduct">
		INSERT INTO customproduct
		(customproduct_no, user_id, product_no, count, 
		cart_status, status, reg_date)
		values((seq_customproduct_no.NEXTVAL),#{user.userId}, #{product.productNo}, 
		#{count:NUMERIC}, #{cartStatus:CHAR}, 
		#{status:CHAR}, SYSDATE)
		<selectKey keyProperty="customProductNo" resultType="int" order="AFTER">
			SELECT seq_customproduct_no.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="getCustomProduct" resultType="customProduct">
		SELECT *
		FROM customproduct
		<where>
			customproduct_no = #{customProductNo}
		</where>
	</select>
	
	<select id="getListCustomProduct" resultMap="customProductSelectMap" parameterType="map">
		SELECT *
		FROM (SELECT vt.*, ROWNUM AS row_seq
			FROM (SELECT cpd.customproduct_no, cpd.count, pd.product_no, pd.name, pd.price, pd.calorie
			    FROM customproduct cpd, product pd
				WHERE cpd.product_no=pd.product_no AND cpd.user_id=#{userId} AND cpd.cart_status='1'
				ORDER BY cpd.customproduct_no) vt
			WHERE ROWNUM &lt; = #{search.endRowNum})
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>
	
	<update id="updateCustomProduct">
		UPDATE customproduct
		<set>
			purchase_no=#{purchase.purchaseNo:NUMERIC} AND cart_status = '0'
		</set>
		<where>
			customproduct_no = #{customProductNo}
		</where>
	</update>
	
	<update id="deleteCustomProduct">
		UPDATE customproduct
		<set>
			cart_status = '1'
		</set>
		<where>
			customproduct_no = #{customProductNo}
		</where>
	</update>
	

	<!-- purchase -->
	<insert id="insertPurchase">
		INSERT INTO purchase
		(purchase_no, user_id, price, delivery_price, address, name, phone, 
		message, purchase_status, reason, image, status, reg_date, 
		payment_condition, imp_uid, amount)
		values((seq_purchase_no.NEXTVAL),#{user.userId},#{price:NUMERIC}, 
		#{deliveryPrice:NUMERIC}, #{address:VARCHAR}, #{name:VARCHAR}, 
		#{phone:VARCHAR}, #{message:VARCHAR}, '0', 
		#{reason:VARCHAR}, #{image:VARCHAR}, '0', 
		SYSDATE, #{paymentCondition:CHAR},#{imp_uid:VARCHAR}, 
		#{amount:NUMERIC})
		<selectKey keyProperty="purchaseNo" resultType="int" order="AFTER">
			SELECT seq_purchase_no.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="getPurchase" resultType="purchase">
		SELECT * FROM purchase
		<where>
			purchase_no = #{purchaseNo}
		</where>
	</select>
	
	<select id="getListPurchase" resultMap="purchaseSelectMap" parameterType="map">
		SELECT *
		FROM (SELECT inner_table.*, ROWNUM AS row_seq
			FROM (SELECT p.*, cp.count, pt.price productprice
				FROM purchase p, customproduct cp, product pt
				WHERE p.purchase_no=cp.purchase_no AND pt.product_no=cp.product_no
				AND p.user_id=#{userId} AND p.status='0' AND p.purchase_status IS NOT NULL
				<if test="searchCondition != null">
					<if test="searchCondition == 0">
						AND p.reg_date=SYSDATE
					</if>
					<if test="searchCondition == 1">
						<![CDATA[
						AND p.reg_date>=SYSDATE-7
						]]>
					</if>
					<if test="searchCondition == 2">
						AND p.reg_date &gt;= DATE_ADD(SYSDATE, INTERVAL -1 MONTH )
					</if>
					<if test="searchCondition == 3">
						AND p.reg_date &gt;= add_month(SYSDATE,-3)
					</if>
				</if>
				ORDER BY p.purchase_no) inner_table
			WHERE ROWNUM &lt; = #{search.endRowNum})
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>
	
	<update id="updatePurchaseCode">
		UPDATE purchase
		<set>
			purchase_status=#{purchaseStatus:CHAR}
		</set>
		<where>
			purchase_no = #{purchaseNo}
		</where>
	</update>
	
	<update id="deletePurchase">
		UPDATE purchase
		<set>
			status = '1'
		</set>
		<where>
			purchase_no = #{purchaseNo}
		</where>
	</update>

	
	<!-- ROW Count -->
	<select id="getTotalCount" resultType="int" parameterType="map">
		SELECT COUNT(*)
	  	FROM( SELECT * FROM purchase
	  	<where>
			purchase_status = #{purchaseStatus} AND status = '0') countTable
		</where>
	</select>


</mapper>