<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
	<mapper namespace="shop.seulmeal.service.mapper.UserMapper">
	 
	 <resultMap id="userSelectMap" type="shop.seulmeal.service.domain.User">
		<result property="userId" 		column="user_id"    jdbcType="VARCHAR"/>
		<result property="userName" 		column="user_name"  jdbcType="VARCHAR"/> 
		<result property="blackListStatus" 		column="blacklist_status"   jdbcType="CHAR"/>
	</resultMap>
	 
		<insert id="insertUser">
			INSERT
			INTO users( user_id , user_name , password , birth , address, phone, email,  reg_date, nickname, confirm_status) 
			VALUES	 (	#{userId} , #{userName} , #{password} , #{birth:DATE} , #{address:VARCHAR} , 
								#{phone:VARCHAR} , #{email:VARCHAR} , SYSDATE, #{nickName:VARCHAR}, #{confirmStatus:CHAR} )
		</insert>
		
		<insert id="inserUserInformation">
			insert into users(foodCategoryName1, foodCategoryName2, foodCategoryName3, profileImage, profileMessage)
			values(#{foodCategoryName1:VARCHAR}, #{foodCategoryName2:VARCHAR}, #{foodCategoryName3:VARCHAR}, #{profileImage:VARCHAR}, #{profileMessage:VARCHAR})
		
		</insert>
		
		<insert id="insertHatesParts" parameterType="map">
			INSERT INTO hates_parts(hates_parts_no, user_id, parts_no, parts_name)
				SELECT seq_hates_parts_no.NEXTVAL, A.* FROM(
					<foreach collection="list" item="parts" separator="UNION ALL">
						SELECT 
							#{userId:VARCHAR} as user_id
							#{parts.partNo:INTEGER} as parts_no,
							#{parts.partsName:VARCHAR} as parts_name,
							from dual
					</foreach>
				) A	
		</insert>
		
		<select id="getUser" resultType="shop.seulmeal.service.domain.User">
	        	SELECT * FROM users WHERE user_id = #{userId:VARCHAR}
	    </select>
	    
	    <select id="getUserHatesParts" resultType="shop.seulmeal.service.domain.Parts">
	    	select * from hates_parts where user_id = #{userId:VARCHAR}
	    </select>
	    
	    <update id="updateUser">
	    		UPDATE users
	   	<set>
	   		user_name 	= #{userName:VARCHAR} ,
			password	= #{password:VARCHAR},
			birth 		= #{birth:DATE} ,
			address		= #{address:VARCHAR},
			phone		= #{phone:VARCHAR},
			email		= #{email:VARCHAR},
			nickname	= #{nickName:VARCHAR},
			profile_image	= #{profileImage:VARCHAR},
			profile_message	= #{profileMessage:VARCHAR},
			foodcategory_name1 = #{foodCategoryName1:VARCHAR},
			foodcategory_name2 = #{foodCategoryName2:VARCHAR},
			foodcategory_name3 = #{foodCategoryName3:VARCHAR}
	   	</set>
	   	WHERE user_id = #{userId}
	    
	    </update>
		
		<delete id="deleteUser">
			UPDATE users SET user_status = 1 WHERE user_id = #{userId}	
		</delete>
		
		<select id= "getListUser" resultMap="userSelectMap" parameterType="shop.seulmeal.common.Search">
			SELECT *
		  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
		  					FROM		(	SELECT user_id , user_name, blacklist_status
												FROM users 
												<if test="searchCondition != null">
													<where>
														<if test="searchCondition == 0 and searchKeyword !='' ">
											 				user_id LIKE '%'||#{searchKeyword}||'%' OR user_name LIKE '%'||#{searchKeyword}||'%' ORDER by user_name
														</if>
														<if test="searchCondition == 1 and searchKeyword !='' ">
											 				blacklist_status = '1'
														</if>
													</where>
												</if>
												ORDER BY user_id ) inner_table
							WHERE ROWNUM &lt;= #{endRowNum} )
			WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
		</select>
		
		<select id="checkDuplicationUserId">
			SELECT user_id from users where user_id= #{userId}
		</select>
		
		<select id="checkDuplicationNickName">
			SELECT nickname from users where nickname= #{nickName}
		</select>
		
		<select id="checkDuplicationPhone" resultType="shop.seulmeal.service.domain.User">
			SELECT user_id, user_name from users where phone= #{phone}
		</select>
		
		<select id="checkDuplicationEmail" resultType="shop.seulmeal.service.domain.User">
			SELECT user_id, user_name from users where email= #{email}
		</select>
		
		<select id="getListUserTotalCount" resultType="int" parameterType="shop.seulmeal.common.Search">
			SELECT COUNT(*)
			FROM( SELECT user_id , user_name , blacklist_status
				FROM users
					<if test="searchCondition != null">
						<where>
							<if test="searchCondition == 0 and searchKeyword !='' ">
								user_id LIKE '%'||#{searchKeyword}||'%' OR user_name LIKE
								'%'||#{searchKeyword}||'%' ORDER by user_name
							</if>
							<if test="searchCondition == 1 ">
								blacklist_status = '1'
							</if>
						</where>
					</if>
				) countTable
		</select>
		
		<update id="updateUserGrade">
			UPDATE users
				SET grade = 
				CASE
				WHEN purchase_count BETWEEN 0 AND 2 THEN '0'
				WHEN purchase_count BETWEEN 3 AND 4 THEN '1'
				WHEN purchase_count BETWEEN 5 AND 9 THEN '2'
				ELSE '3'
				END
		</update>
		
		<update id="updateUserTotalPoint">
			UPDATE users SET total_point = total_point + #{value} WHERE user_id =#{userId}
		</update>
		
		<insert id="insertBlackList">
			INSERT 
				WHEN block_count = 50 THEN
				INTO relation VALUES(seq_relation_no.NEXTVAL, user_id, null, SYSDATE, '2') SELECT user_id, block_count FROM users
		</insert>
		
		<update id="updateBlackList">
			update relation SET relation_status = '3' 
				WHERE relation_status = '2' 
				AND SYSDATE &gt;= reg_date+90
		</update>
		
		<insert id="insertPoint">
			INSERT INTO point (point_no, user_id, purchase_no, point_status, point, reg_date) 
				VALUES(seq_point_no.NEXTVAL, #{userId}, #{purchaseNo}, #{pointStatus}, #{point}, SYSDATE)
		</insert>
		
		<select id="getListPoint" resultType="shop.seulmeal.service.domain.Point" parameterType="shop.seulmeal.common.Search" >
			SELECT *
			FROM ( SELECT inner_table.* , ROWNUM AS row_seq
				FROM ( SELECT point_no, user_id, purchase_no, point_status, point, reg_date
					FROM point where point_status = #{pointStatus}
					ORDER BY user_id ) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
			WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
		</select>
		
		<select id="getListPointTotalCount" resultType="int" parameterType="shop.seulmeal.common.Search" >
			SELECT COUNT(*)
			FROM( SELECT point_no, user_id, purchase_no, point_status, point, reg_date
				FROM point where point_status = #{pointStatus}) countTable
		</select>
		
		
		<select id="getProfile" resultType="shop.seulmeal.service.domain.User">
			SELECT user_id, nickname, grade, profile_image, profile_message, foodcategory_name1, foodcategory_name2, foodcategory_name3 
				FROM users WHERE user_id = #{userId:VARCHAR}
		</select>
		
		<update id="updateProfile">
	    		UPDATE users
		   	<set>
				nickname	= #{nickName:VARCHAR},
				profile_image	= #{profileImage:VARCHAR},
				profile_message	= #{profileMessage:VARCHAR},
				foodcategory_name1 = #{foodCategoryName1:VARCHAR},
				foodcategory_name2 = #{foodCategoryName2:VARCHAR},
				foodcategory_name3 = #{foodCategoryName3:VARCHAR}
		   	</set>
		   	WHERE user_id = #{userId}
		</update>
	
	</mapper>     
