<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
	<mapper namespace="shop.seulmeal.service.mapper.UserMapper"> 
		<insert id="insertUser">
			INSERT
		INTO users( user_id , user_name , password , birth , address, phone, email, grade , reg_date, nickname, confrim_status, foodcategory_name1, foodcategory_name2, foodcategory_name2, foodcategory_name3) 
		VALUES	 (	#{userId} , #{userName} , #{password} , #{birth:DATE} , #{address:VARCHAR} , 
							#{phone:VARCHAR} , #{email:VARCHAR} , #{grade:CHAR} , SYSDATE, #{nickName:VARCHAR}, #{confirmStatus:CHAR},#{foodCategoryName1:VARCHAR},#{foodCategoryName2:VARCHAR}, #{foodCategoryName3:VARCHAR} )
		</insert>
		
		<select id="getUser" resultType="User">
	        	SELECT * FROM users WHERE user_id = #{value}
	    </select>
	    
	    <update id="updateUser">
	    		UPDATE users
	   	<set>
	   		user_name 	= #{userName} ,
			password	= #{password},
			birth 		= #{birth:VARCHAR} ,
			address		= #{address:VARCHAR},
			phone		= #{phone:VARCHAR},
			email		= #{phone:VARCHAR},
			nickname	= #{nickName:VARCHAR},
			profile_image	= #{profileImage:VARCHAR},
			profile_message	= #{profileMessage:VARCHAR},
			foodcategory_name1 = #{foodCategoryName1:VARCHAR},
			foodcategory_name2 = #{foodCategoryName2:VARCHAR},
			foddcategory_name3 = #{foodCategoryName3:VARCHAR}
	   	</set>
	   	WHERE user_id = #{userId}
	    
	    </update>
		
		<delete id="deleteUser">
			update users set user_status = 1 where user_id = #{userId}	
		</delete>
		
		<select id= "getListUser">
			SELECT * FORM users WHERE user_id LIKE '%'||#{searchKeyword}||'%' OR user_name LIKE '%'||#{searchKeyword}||'%' ORDER by user_name
		</select>
		
		<select id="checkDuplicationUserId">
			select user_id from users = #{userId}
		</select>
		
		<select id="checkDuplicationNickName">
			select nickname from users = #{nickName}
		</select>
		
		<select id="getListUserTotalCount">
		</select>
		
		<update id="updateUserGrade">
			UPDATE users
				SET grade = 
				CASE
				WHEN purchase_count BETWEEN 0 AND 2 THEN '0'
				WHEN purchase_count BETWEEN 3 AND 4 THEN '1'
				WHEN purchase_count BETWEEN 5 AND 9 THEN '2'
				ELSE '3'
				END;
		</update>
		
		<update id="updateUserTotalPoint">
			UPDATE users SET total_point = total_point + #{value} WHERE user_id =#{userId}
		</update>
		
		<insert id="insertBlackList">
			
		</insert>
		
		
		
	
	</mapper>     
